{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'pure-min.css' %}">
</head>
<body>
<style>
    .pure-menu-item a{font-size: 1.5rem; font-weight: bold; text-decoration: underline;}
    .success_message{font-size: 1.5rem; color: #14854f; padding: 20px;}
</style>
    <div class="pure-g">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="{% url 'index' %}" class="pure-menu-link">Поиск</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{% url 'file_upload' %}" class="pure-menu-link">Загрузить</a>
                    </li>
                </ul>
            </div>

            {% block content %}{% endblock %}
        </div>
        <div class="pure-u-1-5"></div>
    </div>

</body>
</html>