{% extends 'base.html' %}

{% block content %}
    <h1>Загрузка файла</h1>
    {% if is_success %}<div class="success_message">Файл успешно загружен</div>{% endif %}
    <form method="post" action="{% url 'file_upload' %}" enctype="multipart/form-data" class="pure-form pure-form-stacked">
    {% csrf_token %}
    {{ form }}
    <div><button type="submit" class="pure-button pure-button-primary">Загрузить</button></div>
    </form>
    
{% endblock %}