{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Поиск по email</h1>
    <form method="get" action="{% url 'index' %}" class="pure-form pure-form-stacked">
    {% csrf_token %}
        <fieldset>
        
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
                {{ field.label_tag }}
              {{ field.errors }}
              {{ field }}
              {{ field.help_text }}
        {% endfor %}
        <div><button type="submit" class="pure-button pure-button-primary">Найти</button></div>
        </fieldset>
    </form>
    {% if log_resp %}
        {% if request.GET.address %}
            <div style="padding: 20px 0 ">
                Для адреса <b>{{ request.GET.address }}</b> найдено {{ lor_resp_len }} записей.
            </div>
        {% endif %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>DB ID</th>
                <th>Internal ID{% if request.GET.sort_by_int_id %} &#x26DB;{% endif %}</th>
                <th>Created timestamp{% if request.GET.sort_by_date %} &#x26DB;{% endif %}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in log_resp %}<tr><td>{{ forloop.counter }}</td><td>{{ item.id }}</td><td>{{ item.int_id }}</td><td>{{ item.created|date:"Y-m-d H:i:s" }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}